@font-face {
  font-family: odin;
  src: url(assets/fonts/Norse-Bold.otf);
}

:root {
  --green: #596d48;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

#container {
  width: 100%;
  height: 100dvh;
  display: flex;
}

#image-section {
  flex: 1;
  background-image: url("./assets//images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#odin-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

#odin-logo img {
  height: 5rem;
}

#odin-logo {
  font-size: 58px;
  font-family: odin;
}

#image-info {
  flex: 1;
  text-align: center;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#image-info,
#image-info a,
#image-info a:visited {
  font-size: 12px;
  color: white;
}

#form-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h2 {
  margin-bottom: 10px;
}

fieldset {
  display: flex;
  border: none;
  gap: 50px;
  padding-left: 0;
}

fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #333;
}

input {
  padding: 4px 6px;
  color: #333;
  border: 1px solid #e5e7eb;
  border-radius: 2px;
  margin-top: 5px;
}

input:focus {
  outline: 1px solid blue;
  box-shadow: 0 5px 5px -5px #333;
}

input:invalid {
  outline: 1px solid red;
}

#input-fields {
  box-shadow: 0 10px 20px -20px #333;
}

form > div {
  padding: 0 20px;
}

h2 {
  font-size: 18px;
  color: #333;
}

button {
  padding: 10px 30px;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: #fff;
}

form > div > p {
  font-size: 14px;
}

#login-link {
  color: var(--green);
}
